#first_h2_tag{
  color: seagreen;
  background-color: blanchedalmond
  
}
#first_p1_tag
{
  color:brown;
}
#first_p2_tag{
  color: rebeccapurple
}
#glob{
  color: hotpink
}
#first_p3_tag{
  color:red;
}

 

